
<footer class="footer section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="social-media">

          <!-- only show icons if it has been filled out -->
          {% if section.settings.facebook != blank %}
            <li>
              <a href="{{section.settings.facebook}}">
                <i class="fa fa-facebook-f"></i>
              </a>
            </li>
            {% endif %}

            {% if section.settings.instagram != blank %}
            <li>
              <a href="{{section.settings.instagram}}">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            {% endif %}

            {% if section.settings.twitter != blank %}
            <li>
              <a href="{{section.settings.twitter}}">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            {% endif %}

            {% if section.settings.pinterest != blank %}
            <li>
              <a href="{{section.settings.pinterest}}">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            {% endif %}   

          </ul>
          <ul class="footer-menu">

          <!-- show all the links that are specified in the block-schema: create a list item for each. -->
          {% for block in section.blocks %}
            <li>
              <a href="{{block.settings.footer_link}}">{{block.settings.footer_text}}</a>
            </li>
          {% endfor %}

          </ul>
          <p class="copyright-text">Copyright &#9400; Pirate Emporium</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- custom settings for the footer: 
social media icons need to be customizable - linkable.
Blocks: links to pages on shopify or whereever -->
{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "text", 
            "id": "facebook",
            "label": "Facebook link"
        },
        {
            "type": "text", 
            "id": "instagram",
            "label": "Instagram link"
        },
        {
            "type": "text", 
            "id": "pinterest",
            "label": "Pinterest link"
        },
        {
            "type": "text", 
            "id": "twitter",
            "label": "Twitter link"
        }
    ],
    "blocks": [
        {
           "type": "text", 
            "name": "Footer link",
            "settings": [
                {
                   "type": "text", 
                    "id": "footer_text",
                    "label": "Text" 
                },
                {
                    "type": "url", 
                    "id": "footer_link",
                    "label": "Link"
                }

            ]
        }
    ]
}
{% endschema %}